@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f8f5fc;
    margin: 0;
    padding: 0;
}

#login-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
	height: 100vh; /* 전체 화면 세로 기준 정중앙 */
  	flex-direction: column;
}

#login-container {
    background-color: white;
    padding: 40px 50px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(100, 0, 200, 0.2);
    width: 400px;
    text-align: center;
}

#login-container h2 {
    color: #6a0dad;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 24px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
}

#login-button {
    width: 100%;
    background-color:#6a1b9a;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 8px;
    margin-bottom: 15px; /* 구글 로그인 버튼과 간격 */
}

#login-button:hover {
    background-color: #6a1b9a;
}

/* 아이디 저장 텍스트 */
#remember + label {
    color: #555;
    font-weight: 500;
}

#register-link {
    margin-top: 20px;
}

#register-link a {
    color: #6a0dad;
    text-decoration: none;
    font-size: 14px;
}

#register-link a:hover {
    text-decoration: underline;
}

img {
    margin-top: 15px;
    width: 100%;
    max-width: 220px;
    cursor: pointer;
}

/* 회색 링크 스타일 (비밀번호 찾기, 아이디 찾기, 회원가입) */
#login-container a {
    color: #777;
    text-decoration: none;
    font-size: 14px;
}
#login-container a:hover {
    text-decoration: underline;
}
